:root{
  --backgroundColor: #c8e6ca;
  --uiContainer: #f6f6f6;
}

*, *::before, *::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  min-height: 100vh;
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
img, picture, svg, video{
  display: block;
  max-width: 100%;
}
.ui-container{
  height: 75vh;
  width: 80vw;
  background-color: var(--uiContainer);
  border-radius: 50px;
  box-shadow: -10px 10px 10px #afc8af;
}